.card{

margin-left: auto;
margin-right:auto;
}

body{
    background-color:#ffebee;
}

.agree{
    display: flex;
}

.container{
    background-color: #ef9a9a;
    padding: 30px;
}

.imageDiv{
    width:90%;
    outline: 5px dotted;
    outline-color: #e57373;
    padding:20px;
    margin-top: 20px;

}

.submitBtn{
width: 300px;
margin-left: auto;
margin-right:auto;
}

@font-face {
    font-family: hipster;
    src: url(../fonts/Sweet\ Hipster.ttf);
}

.brand-logo{
    font-family: hipster;
    height: 100px;
}

.container1{
    width:90%;
    outline: 5px dotted;
    outline-color: #e57373;
    padding: 20px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}



#directions{
    text-align: center;
}

.card-title{
    color: red
}